$width: 614px;
$height: 430px;


.carouselDiv {
    width: $width;
    height: $height;
}

.carouselDiv div {
   width: $width;
    height: $height;
    border-radius: 24px;
}

.carouselDiv div img {
    width: $width;
    height: $height;
    border-radius: 24px;
}

.CarouselTextDiv {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.001s
}

.CarouselTextDiv h5 {
    font-size: 30px;
}

.CarouselTextDiv p {
    font-size: 20px;
}

/* This correctly targets slick dots using SCSS modules */
// .carousel {
//     :global(.ant-carousel) :global(.slick-dots) :global(li) :global(button) {
//         width: 12px;
//         height: 12px;
//         border-radius: 50% !important;
//         background: #ccc !important;
//         transition: background 0.3s !important;

//     }

//     :global(.ant-carousel) :global(.slick-dots) :global(li.slick-active) :global(button) {
//         background: #1890ff !important;
//     }
// }


// .carouselDiv {
//   // :global(.ant-carousel .slick-dots li button) {
//   //   background: rgb(239, 4, 4) !important;
//   //   transition: background 0.3s !important;
//   //   opacity: 1;
//   // }

//   // :global(.ant-carousel .slick-dots li.slick-active button) {
//   //   background: rgb(255, 24, 24) !important;
//   //   transition: none !important;
//   // }
// }