.section {
    width: 567px;
    background-color: rgb(249 249 249);
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    z-index: 3;
}

.section ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.section ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 40px;
    list-style-type: none;
    cursor: pointer;
    border-radius: 8px;
}

.section ul li:hover {
    background-color: #ecebf0;
}

.optionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 23px;

}

.optionDiv img {
    width: 18px;
    height: 18px;
    margin-top: 3px;
}

.optionDiv p {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

}