@import "../../globals.scss";


@mixin displayFlex {
    display: flex;
    flex-direction: row;
}


.navbar {
    @include displayFlex();
    align-items: center;
    background-color: #fff;
    padding: 20px 48px;
    gap: 695px;
}

.navbarLinks {
    @include displayFlex();
    align-items: center;
    gap: 32px;
}

.logoDiv {
    width: 50px;
    height: 50px;
    padding: 4px
}

.logoImg {
    width: 42px;
    height: 42px;
}

.navbarUlDiv {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbarUlDiv ul {
    @include displayFlex();
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: $fontWeight;
    gap: 48px;
    list-style-type: none;
}

.navbarUlDiv ul li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.logInSignUp {
    @include displayFlex();
    gap: 8px;
}

.loginBtnDiv {
    @include displayFlex();
    gap: 6px;
    width: 92px;
    height: 40px;
}

.loginBtnDiv:hover {
    opacity: 0.8;
}

.loginBtn {
    @include displayFlex();
    gap: 6px;
    width: 92px;
    height: 40px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 10px;
    border: none;
}

.loginBtn:hover {
    cursor: pointer;
}

.loginBtnParDiv {
    width: 46px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: $fontWeight;
    line-height: 20px;
}

.loginBtnImgDiv {
    size: 20px 20px;
}

.signupBtnDiv {
    width: 98px;
    height: 40px;
}

.signupBtnDiv:hover {
    opacity: 0.9;
}

.signupBtn {
    width: 98px;
    height: 40px;
    background-color: rgba(92, 83, 233, 1);
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.signupBtn:hover {
    cursor: pointer;
}

.signupBtnPar {
    color: rgba(255, 255, 255, 1);
    width: 78px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: $fontWeight;
    line-height: 20px;
}