$border: none;
$backGround: none;
$width: 567px;
$height: 56px;


.searchDiv {
    display: flex;
    flex-direction: column;
}

.searchDivH1 {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: solid;
    color: black;
    margin-bottom: 16px;
}

.searchDivH2 {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    max-width: 413px;
    margin-bottom: 16px;
}

.searchForm {
    width: $width;
    height: $height;
    border-radius: 9999999px;
    background-color: #f3f3f6;
    // display: flex;
    // gap: 12px;
    // align-items: center;
    // justify-content: space-evenly;
    // display: flex;
    // flex-direction: row;

}

.searchForm:hover {
    background-color: white;
    outline: 2px solid skyblue;
}

.inputDiv {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-evenly;
    border: $border;
    width: $width;
    height: $height;
    padding-right: 10px;
    padding-left: 25px;
}

.input {
    width: $width;
    height: $height;
    border: $border;
    border-radius: inherit;
    background-color: inherit;
    // padding-left: 25px;
}

.input::-webkit-search-cancel-button {
    display: none;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: #0d0c22;
}

.input:focus {
    outline: none;
}

.btn {
    background: $backGround;
    border: $border;
    margin-top: 5px;
}

.btn:hover {
    cursor: pointer;
}

.clearBtnDiv {
    width: 20px;
    height: 18px;
}

.clearBtn {
    width: 20px;
    height: 18px;
    margin-top: 0px;
}


.clearBtnImg {
    width: 20px;
    height: 18px;
    opacity: 0.8;
}

.clearBtnDiv:hover {
    opacity: 1 !important;
}

.searchBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
    // margin-left: 20px;
    background-color: skyblue;
}

.searchBtnDiv:hover {
    cursor: pointer;
}

.searchBtn:hover {
    opacity: 0.5;
}
